* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans;
}

button {
	margin: 0.25rem;
	padding: 12px 24px;
	font-size: 16px;
	color: #FFF;
	background-color: #07F;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	width: 100%;
}

button:hover {
	background-color: #05A;
}

input[type="text"],
input[type="password"] {
	margin: 0.25rem;
	font-size: 16px;
	border: none;
	border-radius: 0;
	outline: none;
	padding: 0.5rem;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

th, td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #dddddd;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

th {
	background-color: #f1f1f1;
	font-weight: bold;
	color: #333;
}

th a {
	color: grey;
	text-decoration: none;
	font-size: 0.5rem;
	display: block;
}

tr:hover {
	background-color: #f1f1f1;
}
