{{ define "title" }}
Read
{{ end }}

{{ define "style" }}
<style>
    th, td {
        border: 1px solid black;
    }
</style>
{{ end }}

{{ define "root" }}
<h1>{{ .Header }}</h1>
<table>
    <tr>
        <th>
						Name
						<a href="/read?sort=name&sortdir=asc">▲</a>
						<a href="/read?sort=name&sortdir=desc">▼</a>
				</th>
        <th>
						Age
						<a href="/read?sort=age&sortdir=asc">▲</a>
						<a href="/read?sort=age&sortdir=desc">▼</a>
				</th>
    </tr>
    {{range .Data}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Age}}</td>
    </tr>
    {{end}}
</table>
{{ end }}
